<script type="text/javascript">
	$("#close_event_box").click( function() {
		dialog.setVisible(false);
		goog.events.removeAll()
	});
</script>
<div class="event_pool">
	<% if !friend %>
		<span id="pool_title"><span class="red">your</span> events feed</span>
	<% else %>
		<span id="pool_title"><span class="red"><%= @user.first_name+"'s" %></span> events feed</span>
	<% end %>
	
	<% if !friend %>
		<%= button_to 'Create an Event', {:controller => :events, :action => :new}, :method => :get, :class => "gray_submit" %>
	<% else %>
    <div class="friend_follow_link">
        <%= content_tag :div, :id => "linksz" + @user.aid.to_s do %>
	        <% if (nil == @alrdy_follow) %>
	        	<%= link_to 'Follow', {:controller => :accounts, :action => :follow, :aid => @user.aid}, :remote => true, :id => "follow_link" %>
	        <% else %>
	       		<%= link_to 'Unfollow', {:controller => :accounts, :action => :unfollow, :aid => @user.aid}, :remote => true, :id => "unfollow_link" %>
	        <% end %>
        <% end %>
	</div>		
	<% end %>
	<% @hour = nil %>
	<% @events.each do |event| %>	
		<% if @hour != event.start_date.strftime("%H:00") && @events.index(event) != 0 %>
			<% @hour = event.start_date.strftime("%H:00") %>
			<span class="time_guide"></span>
		<% end %>
		<div class="timestamp"><%= event.start_date.strftime("%H:%M") %></div>
		<div class="event">
			<%= link_to event.title, {:controller => :events, :action => :show_event, :eid => event.event_id}, :class => "event_link", :remote => true %>
			<% @creator = Account.find_by_aid(event.aid) %>
			<span class="event_creator">
				posted by <%= link_to @creator.first_name + " " + @creator.last_name, {:controller => :accounts, :action => :friend_profile, :aid => @creator.aid}, :class => :underline_hover %>
			</span>
			<% if !friend %>
				<span class="join">
					<%= content_tag :span, :id => "join_button" + event.event_id.to_s do %>
						<% if joined( @joined_events, event.event_id ) %>
							<%= button_to 'Quit', {:controller => :events, :action => :quit_event, :eid => event.event_id}, :class => "quit_button", :remote => true %>
						<% else %>
							<%= button_to 'Join', {:controller => :events, :action => :join_event, :eid => event.event_id}, :class => "join_button", :remote => true %>
						<% end %>
					<% end -%>
				</span>
			<% end %>
			</br>
			<div class="event_desc"><%= event.desc %></div>
		</div>
	
	<% end %>	
</div>