<title></title>

<h1>Events</h1>
<%= link_to 'Create an Event', :controller => :events, :action => :new %><br>
<%= flash[:msg] unless flash[:msg] == nil%>
<% @events.each do |event| %>

	<%= link_to event.title, {:controller => :events, :action => :show_event, :eid => event.event_id}, :remote => true %>
	<b><%= event.title %></b>	
	<%= link_to 'Edit', :controller => :events, :action => :edit, :eid => event.event_id %>
	<%= link_to 'Remove', :controller => :events, :action => :destroy, :eid => event.event_id %><br/>
	
	<%= event.desc %><br>
	Where: <%= event.location %><br/>
	From: <%= event.start_date %><br/>
	Until: <%= event.end_date %><br/>
	
	<%= content_tag :div, :id => "comment_block_" + event.event_id.to_s do %>
		<% event.comments.each do |c| %>
			<%= content_tag :div, :id => "comment" + c.cid.to_s do %>
				<b><%= c.commenter %></b>
				<%= c.body %>
				<%= link_to 'x', {:controller => :comments, :action => :remove, :cid => c.cid }, :remote => true %><br/>
			<% end %>
		<% end %>
	<% end %>
	
	<%= form_for @comment, :url => { :controller => :comments, :action => :create }, :remote => true do |f| %>
		    <%= f.hidden_field :event_id, :value => event.event_id %>
			<%= f.hidden_field :commenter, :value => @user.first_name + " " + @user.last_name %>
		    <%= f.text_field :body, :class => "commentBox" %>
		 	<%= f.hidden_field :timestamp, :value => Time.now %>
		  	<br/>
		    <%= f.submit "Comment", :class => "submit" %>
	<% end %>
	<br/>
<% end %>