<fieldset>
	<legend>Event Information</legend>
	<ul>
		<li>
			<%= form.label :title, "Title:" %>
			<%= form.text_field :title %>
		</li>
		<li>
			<%= form.label :desc, "Description:" %>
			<%= form.text_field :desc %>
		</li>
		<li>
			<%= form.label :location, "Location:" %>
			<%= form.text_field :location %>
			<div id="map_canvas"></div>
		</li>
		<li>
			<script type="text/javascript">
			$(function() {
					  $('#event_start_date').datetime({
										userLang	: 'en',
										americanMode: true,
									});													
				});
			</script>
			
			<%= form.label :start_date, "Start Date:" %>
			<%= form.text_field :start_date, :value => @datetime.to_s %>
		</li>
 		
 		<li>
 			<script type="text/javascript">
			$(function() {
					  $('#event_end_date').datetime({
										userLang	: 'en',
										americanMode: true,
									});													
				});
			</script>
			<%= form.label :end_date, "End Date:" %>
			<%= form.text_field :end_date, :value => @datetime.to_s %>
		</li>
	</ul>
</fieldset>