<fieldset>
	<legend>Event Information</legend>
	<ul>
		<li>
			<%= form.label :title, "Title" %>
			<%= form.text_field :title %>
		</li>
		<li>
			<script type="text/javascript">
			$(function() {
					  $('#event_start_date').datetime({
										userLang	: 'en',
										americanMode: true,
									});													
				});
			</script>
			
			<%= form.label :start_date, "Start Date" %>
			<%= form.text_field :start_date, :value => @start_dt.to_s %>
		</li>
 		
 		<li>
 			<script type="text/javascript">
			$(function() {
					  $('#event_end_date').datetime({
										userLang	: 'en',
										americanMode: true,
									});													
				});
			</script>
			<%= form.label :end_date, "End Date" %>
			<%= form.text_field :end_date, :value => @end_dt.to_s %>
		</li>
		<li>
			<%= form.label :desc, "Description" %>
			<%= form.text_area :desc, :rows => 3 %>
		</li>
		<li>
			<%= form.label :location, "Location" %>
			<%= form.text_field :location %>
			<div id="map_canvas"></div>
			<%= form.hidden_field :marker_lat %>
			<%= form.hidden_field :marker_lng %>
		</li>
	</ul>
</fieldset>