<h1>Events</h1>

<% @events.each do |event| %>
<%= event.desc %><br>
<%= event.location %><br>
<%= event.start %><br>
<%= event.end %><br>
<%= link_to 'Edit', :action => 'edit', :id => event %>
<br>
<% end %>

<%= link_to 'Create', new_event_path %><br>
