<%
# Partial for the part of the form that contains account information
%>
<table>
	<tbody>
		<tr>
			<th><%= form.label "Email"%></th>
			<td><%= form.text_field :email %></td>
			<%= render("shared/signup_error", :error => "Email "+target.errors[:email][0]) if !target.errors[:password] %>
		</tr>
		<tr>
			<th></th>
			<td id="hint">You will use this to log in</td>
		</tr>
		<% if pass %>
			<tr>
				<th><%= form.label :password, "Password"%></th>
				<td><%= form.password_field :password %></td>
				<%= render("shared/signup_error", :error => "Password "+target.errors[:password][0]) if !target.errors[:password].empty? %>
			</tr>
			<tr>
				<th></th>
				<td id="hint">At least 6 characters</td>
			</tr>
			<tr>
				<th><%= form.label :password_confirmation, "Confirm password"%></th>
				<td><%= form.password_field :password_confirmation %></td>
			</tr>
			<tr>
				<th></th>
				<td id="hint">Re-type your password</td>
			</tr>
		<% end %>
		<tr>
			<th><%= form.label :first_name, "First name"%></th>
			<td><%= form.text_field :first_name %></td>
			<%= render "shared/signup_error", :error => "First name "+target.errors[:first_name][0] if !target.errors[:first_name].empty? %>
		</tr>
		<tr>
			<th></th>
			<td id="hint">So people can search you more easily</td>
		</tr>
		<tr>
			<th><%= form.label :last_name, "Last name"%></th>
			<td><%= form.text_field :last_name %></td>
			<%= render "shared/signup_error", :error => "Last name "+target.errors[:last_name][0] if !target.errors[:last_name].empty? %>
		</tr>
		<tr>
			<th></th>
			<td><%= form.submit submit_value, :id => "signup_submit" %></td>
		</tr>
	</tbody>
</table>

	