<%
# Partial for the part of the form that contains account information
%>

	<fieldset>
		<legend>Account information</legend>
		<ul>
			
			<% if pass %>
				<li>
					<%= form.label :password, "Password"%>
					<%= form.password_field :password %>
				</li>
				<li>
					<%= form.label :password_confirmation, "Confirm Password"%>
					<%= form.password_field :password_confirmation %>
	 			</li>
 			<% end %>
			<li>
				<%= form.label :first_name, "First Name:"%>
				<%= form.text_field :first_name %>
			</li>
			<li>
				<%= form.label :last_name, "Last Name:"%>
				<%= form.text_field :last_name %>
			</li>
			
		</ul>
	</fieldset>
	<fieldset>
		<legend>User information</legend>
		<ul>
			<li>
				<%= form.label :email, "E-mail: "%>
				<%= form.text_field :email %>
			</li>
			<li>
				<%= form.label :phone_number, "Phone Number: "%>
				<%= form.text_field :phone_number %>
			</li>
			
			
		</ul>
	</fieldset>
	
	