<table>
  <tr>
    <th>Last Name</th>
    <td>
    	<%=@friend.last_name %>
    </td>
  </tr>
  
  <tr>
  	<th>First Name</th>
  	<td>
		<%=@friend.first_name %>
	</td>
  </tr>
  
  <tr>
    <th>E-mail</th>
    <td>
		<a href="<%=@friend.email %>"><%= @friend.email %></a>
	</td>
  </tr>
  
  <tr>
  	<th>Phone Number</th>
  	<td>
		<%=@friend.phone_number %>
	</td>
  </tr>
  

</table>

	
<br>
	
	
<% if (nil == @alrdy_follow) %> 
	
	<div id="linksz">
	<%= link_to 'Follow', {:action => :follow, :aid => @friend.aid}, :remote => true, :id => "follow_link" %>
<% else %>
	<%= link_to 'Unfollow', {:action => :unfollow, :aid => @friend.aid}, :remote => true, :id => "unfollow_link" %>
<% end %>

</div>

<br>
<%= link_to 'Back', :controller => :main, :action => :searching, :search => @first_s, :search_input => @second_s %><br>