<p>Number of accounts: <%=@accts.count%></p>
<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
   
  </tr>

<% @accts.each do |accts| %>
  <tr>
    <td>
		<%=accts.last_name %>
	</td>
	<td>
		<%=accts.first_name %>
	</td>
	<td>
    <%= link_to 'view profile', :action => :friend_profile, :aid => accts.aid %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', :controller => :main, :action => :profile %>
