<%
# Partial that generates a login form
# Parameters: object_name, username_field_name, password_field_name
%>
<% form_tag do -%>
	<div class="login_form">
			<div>
				<%= label 			object_name, "Email:"%>
				<%= text_field 		object_name, username_field_name %>
			</div>
			<div>
				<%= label 			object_name, "Password:"%>
				<%= password_field 	object_name, password_field_name %>
			</div>
			<div id="submit">
				<%= link_to 'Forgot password?',  :action => :recover_password %>
				<%= submit_tag "Log in", :id => "login_submit" %>
			</div>
	</div>
<% end -%>