<div class="profile_bar_container">
	<div class="profile_bar">
		<%= link_to("profile", {:controller => :main, :action => :profile}, :id => "profile_logo") %>
		<div id="toolbox">
			<div id="floatleft">
					<%= form_tag( {:controller => :main, :action => :searching}, :id => "search_form" ) do -%>
					
						<%= text_field :search, :search_input %>
						<%= submit_tag "", :id => "search_sub" %>
						
					<% end -%>	
			</div>
			<%= link_to 'Account', {:controller => :accounts, :action => :edit}, :class => "toolbar_link" %>
			<%= link_to 'Calendar', {:controller => :accounts, :action => :view_calendar}, :class => "toolbar_link" %> 
			<%= link_to 'Log out', {:controller => :main, :action => :logout}, :class => "toolbar_link" %>
		</div>
	</div>
</div>