<%
@page_title 	= 'Change password'
@page_heading 	= 'Change password'
%>
<% form_for(@account, :url => { :action => "change_password" }) do |f| %>
	<%= render "shared/error_messages", :target => @account %>
	<fieldset>
		<legend>Password</legend>
		<ul>
			<li>
				<%= f.label :old_password, 'Current password '%>
				<%= password_field_tag :old_password %>
			</li>
			<li>
				<%= f.label :password, 'New password '%>
				<%= password_field_tag :password%>
			</li>
			<li>
				<%= f.label :password_confirmation, 'Confirm new password: '%>
				<%= password_field_tag :password_confirmation%>
			</li>
		</ul>
	</fieldset>	
	<p><%= f.submit "Save password"%></p>
<% end %>