<%
@page_title 	= 'Change password'
@page_heading 	= 'Change password'
%>
<% form_for(@account, :url => { :action => "change_password" }) do |f| %>
	<div class="signup_form">
	<div class="edit_title">
		<span class="red">shhh</span><span class="blue">, don't tell anyone</span>
	</div>
		<table>
			<tr>
				<th>
					<%= f.label :old_password, 'Current password '%>
				</th>
				<td>
					<%= password_field_tag :old_password %>
				</td>
				<%= render("shared/signup_error", :error => "Password "+@account.errors[:password][0]) if !@account.errors[:password].empty? %>
			</tr>
			<tr>
				<th></th>
				<td id="hint">To make sure you are you!</td>
			</tr>
			<tr>
				<th>
					<%= f.label :password, 'New password '%>
				</th>
				<td>
					<%= password_field_tag :password%>
				</td>
			</tr>
			<tr>
				<th></th>
				<td id="hint"></td>
			</tr>
			<tr>
				<th>
					<%= f.label :password_confirmation, 'Confirm new password: '%>
				</th>
				<td>
					<%= password_field_tag :password_confirmation%>
				</td>
			</tr>
			<tr>
				<th></th>
				<td id="hint">Remember, at least 6 characters!</td>
			</tr>
			<tr>
				<th/>
				<td>
					<%= f.submit "Save password", :class => "gray_submit", :id => "signup_submit"%> <%= link_to "Cancel", {:controller => :accounts, :action => :edit}, :class => "event_cancel" %>
				</td>
			</tr>
		</table>	
		
	</div>
		
<% end %>