<link rel="stylesheet" href="/css/event.css">

<div class="profile_bar_container">
	<div class="profile_bar">
		<%= image_tag("logo/meevesmaller.png", :id => "profile_logo") %>
		<div id="toolbox">
			<div id="floatleft">
					<%= form_tag( {:action => :searching}, :id => "search_form" ) do -%>
					
						<%= text_field :search, :search_input %>
						<%= submit_tag "", :id => "search_sub" %>
						
					<% end -%>	
			</div>
			<%= link_to 'Account', {:controller => :accounts, :action => :edit}, :class => "toolbar_link" %>
			<%= link_to 'Log out', {:controller => :main, :action => :logout}, :class => "toolbar_link" %>
		</div>
	</div>
</div>

<div class="profile_main">
	<%= render :partial => "events/event_pool" %>
	<div class="right_pool">
		<span class="main_title">followers</span>
		<%= link_to 'Who\'s free?', {:controller => :accounts, :action => :matching}, :method => :get, :class => "gray_submit" %>
		<% @following.each do |follow| %>
			<li><%= follow.first_name %></li>
		<% end %>
	</div>
</div>

<!--
<%= link_to 'Who\'s free now?', :controller => :accounts, :action => :matching %>
<%= link_to 'Log out', :controller => :main, :action => :logout %>
-->

