
<p>Number of people found: <%= @result.count%></p>

<br>
<br>

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
   
  </tr>

<% @result.each do |result| %>
  <tr>
    <td>
		<%=result.last_name %>
	</td>
	<td>
		<%=result.first_name %>
	</td>
	
	<% @alrdy_follow = Follow.find_by_follower_and_followee(session[:id], result.aid) %>
	
	<td>
	<%= content_tag :div, :id => "linksz" + result.aid.to_s do %>
		<% if (nil == @alrdy_follow) %> 
			<%= link_to 'Follow', {:controller => :accounts, :action => :follow, :aid => result.aid}, :remote => true, :id => "follow_link" %>
		<% else %>
			<%= link_to 'Unfollow', {:controller => :accounts, :action => :unfollow, :aid => result.aid}, :remote => true, :id => "unfollow_link" %>
		<% end %>
	<% end %>
	</td>
	<td>
    <%= link_to 'view profile', :controller => :accounts, :action => :friend_profile, :aid => result.aid, :search => @first_s, :search_input => @second_s %>
    </td>
  </tr>
<% end %>
</table>

<br>
<br>
<%= link_to 'Back', :action => :profile %>
